.filtersContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.filterCardContainer {
  background-color: #fff;
  margin: 0 0 10px;
  padding: 10px 10px 15px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #e4e6eb;
}

.filterCardTitle {
  color: #323232;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.filterButton {
  padding: 0;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
